
.ipynb_checkpoints/practice-checkpoint.ipynb
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
__pycache__/Aqidata.cpython-37.pyc
.ipynb_checkpoints/Ridge and lasso regression-checkpoint.ipynb
.ipynb_checkpoints/Decision Tree-checkpoint.ipynb
.ipynb_checkpoints/Random forest-checkpoint.ipynb
